<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932160520404-5rgtifilhkceqgnehjcapheiktk14ucc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932160520404-5rgtifilhkceqgnehjcapheiktk14ucc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>932160520404-v0a8negghensb82lngdq9f22nlngf0pa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaY2PViJkUF2fICSMXtja9082PJiXBqAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>932160520404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.werollaPayment</string>
	<key>PROJECT_ID</key>
	<string>kujuo-e0db6</string>
	<key>STORAGE_BUCKET</key>
	<string>kujuo-e0db6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932160520404:ios:783dab4cb305396939fb41</string>
</dict>
</plist>